/**{
	background-color: blue;

}*/

/*comvinator*/
/*div p{
	color: red;
	size: 30px;


}*/
/*text decoration*/
.decoration{
	text-decoration: line-through;
}
/*
#section1{
	background-color: red;
	background-size: 60px;
	

}
#section1 h1{
	color: green; 

}*/

/*h1{
	color: red;
	size: 30px;
}
p{
	color: red;
	background-size: 30px;
}*/

/*create class & use unlimitet time with . (dot)sing*/
/*.heading-style{
	color: green;
	font-size: 60px;
}*/
/*create id with # sign & use only one time*/
/*#para-style{
	color: red;
	font-size: 100px;

}*/

